.container-general {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-container {
  max-width: 300px;
  border:1px solid #cecece;
  text-align: center;
  padding: 10px
}

.numero {
  font-size: 2rem;
  color: #6f706f;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.btn {
  width: 100px;
  height: 30px;
  border: 1px solid #cecece;
  font-size: 1.4rem;
  background-color: transparent;
  cursor: pointer;
  transition: .5s
}

.btn:hover {
  background-color: #cecece48;
}

.btn-disminuir {
color: #d31d1d;
}

.btn-aumentar {
  color: #218d31;
}

.btn-reset {
  margin-top: 3px;
  width: 100%;
  font-size: .7rem;
  background-color: rgb(237, 120, 120);
  color: #d31d1d;
}